*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*:root{
  --darkText: rgba(20, 46, 44);
  --whiteBackground: #fff;
  --whiteText: #fff;
--lightGray: rgba(244, 245, 246);
--gray: rgba(222, 226, 227);
--lightGreen: rgba(19, 66, 58);
--deepGreen: rgba(20, 46, 44);
--deepGreenFooter: rgba(20, 46, 44);
--navDeepGreen: rgba(20, 46, 44);
--accentGreen: rgba(82, 102, 92);
--gold: rgba(206, 172, 33);
--decorativeFont: 'Playfair Display SC', serif;
--titleFont: 'Playfair Display', serif;
}*/

:root{
  --whiteBackground: #fff;
  --whiteText: #fff;
  --darkText: rgba(20, 46, 44);
  --lightGray: rgba(244, 245, 246);
--gray: rgba(222, 226, 227);
--lightGreen: rgba(21, 80, 81);
--deepGreen: rgba(21, 80, 81);
--navDeepGreen: rgba(21, 80, 81);
--deepGreenFooter: rgba(21, 80, 81);
--accentGreen: rgba(54, 97, 80);
--gold: rgba(206, 172, 33);
--decorativeFont: 'Playfair Display SC', serif;
--titleFont: 'Playfair Display', serif;
--smallFont: 1rem;
}

.large-font{
  --smallFont: 1.5rem;
}

.enable-color{
  font-size: 2rem;
  }

.dark-mode{
  --whiteBackground:  #252525;
  --whiteText: yellow;
  --darkText: yellow;
--lightGray: #3a3838;
--gray: #252525;
--lightGreen: #252525;
--deepGreen:  #252525;
--deepGreenFooter:#3a3838;
--navDeepGreen: yellow;
--accentGreen: #252525;
--gold: yellow;
}


 html, body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: var(--smallFont);
    overflow-x: hidden;
    line-height: 1.6rem;
    color: var(--darkText);
 }
 @media screen and (min-width: 320px){
  body{
    background-color: var(--whiteBackground);
  }
  .logo{
    display: none;
 }
 .logo-phone{
     width:2rem;
     cursor: pointer;
 }
    nav{
        width: 100%;
        display: flex;
        align-items: center;
        position: fixed;
        height: 10vh;
        left:0;
        right: 0;
        top: 0;
        padding: 0 2rem;
        background-color: var(--lightGray);
        z-index: 999;
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        right: 0px;
        height: 90vh;
        top:10vh;
        padding: 3rem 0;
        width: 100%;
        background-color: var(--lightGray);
        transform: translateX(100%);
    }
    .nav-links li {
        list-style: none;
        /*opacity: 0;*/
        /*display: none;*/
       
      }
      .nav-links li a {
        text-decoration: none;
        z-index: 9999;
        color: var(--navDeepGreen);
        font-size: 1rem;
      }
      .nav-icons ul{
        display: flex;
        list-style: none;
        gap: 2rem;
      }
      .ukr-flag{
        width: 2rem;
      }
      .contrast-btn{
        border: none;
        color: var(--darkText);
        background-color: transparent;
        cursor: pointer;
      }
      .contrast-btn i{
        font-size: 1.2rem;
        margin-left: .5rem;
      }
      .font-btn{
        font-weight: 600;
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: var(--darkText);
      }
      .big-a{
        font-size: 1.2rem;
      }
      .burger{
        position:absolute;
        right: 2rem;
        z-index: 99999;
      }
      .burger div{
        width: 28px;
        height: 2px;
        background-color:var(--navDeepGreen);
        margin: 5px;
        transition: all 0.3s ease;
        align-items: flex-end;
      }   
    .nav-active{
        transform: translateX(0%);
        transition: transform 0.5s ease-in;
      }
      @keyframes navLinkSlide{
          from{
              opacity: 0;
              transform: translateX(50px);
          }
          to{
              opacity: 1;
              transform: translateX(0px)
          }
      }
      .header-container{
        background-color: var(--lightGreen);
        height: 20vh;
        margin-top: 10vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .header-container h1{
        color: var(--whiteText);
        font-weight: 400;
        text-transform: uppercase;
      }
      .section-1{
        padding: 2rem 1rem;
      }
      .card-wrapper{
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
      }
      .card{
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
      }
      .card .img-box{
        height: 300px;
        width: 220px;
        margin: 2rem;
      }
      .card-wrapper img{
       /* height: 50vh;*/
       height:100%;
       width: 100%;
       object-fit: cover;
        border: var(--gray) 12px solid;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 10px;
        /*border: rgba(111, 131, 132) 15px solid;*/
        margin-bottom: 1rem;
        
      }
    .card hr{
        border: none;
        height: 1px;
        width: 60px;
        margin: .8rem 0;
        background-color: var(--gold);
    }
    .card h2{
        font-family: var(--titleFont);
        color: var(--darkText);
    }
    .section-1 ul{
      margin-left: 1rem;
    }
    /*.section-1 .short-text, .short-text2, .short-text3{
      max-width: 450px;
    }*/
    .dots, .dots2, .dots3{
      color: transparent;
    }
    .more, .more2, .more3{
      display: none;
    }
    .more-btn, .more-btn2, .more-btn3{
      background-color: var(--whiteBackground);
      color: var(--darkText);
      border: var(--darkText) 2px solid;
      padding: .5rem 1rem;
      margin-top: 2rem;
      text-transform: uppercase;
      cursor: pointer;
    }
    .card button:hover{
      border: var(--deepGreen) 3px solid;
    }
    .long-hr{
      width: 100%;
      border: none;
      height: 1px;
      background-color: var(--lightGray);
    }
    .section-2 h1{
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      color: var(--darkText);
      padding-top: 2rem;
    }
    .wspolpraca-wrapper{
      max-width: 1500px;
     padding: 2rem 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      /*color: var(--whiteText);*/
      color: var(--darkText);
     margin: 0 auto;
    }
   .wspolpraca-text{
    padding: 2rem 0;
    width: 300px;
   }
    .wspolpraca-text h2{
      font-weight: 400;
      margin: 1rem 0;
    }
    .section-2 ul{
      margin-left: 1rem;
    }
    .dots4, .dots5, .dots6{
      color: transparent;
    }
    /*.section-2 .short-text{
      width: 250px;
      padding: 1rem 0;
    }*/
    .more4, .more5, .more6{
      display: none;
    }
    .more-btn4, .more-btn5, .more-btn6{
      background-color: transparent;
      color: var(--darkText);
      border: var(--darkText) 2px solid;
      padding: .5rem 1rem;
      margin-top: 1rem;
      text-transform: uppercase;
      cursor: pointer;
    }
    .section-2 button:hover{
      border: var(--darkText) 3px solid;
    }
    footer{
      width:100%;
      background-color: var(--deepGreenFooter);
      color: var(--whiteText);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .footer-links-flex{
      display: flex;
    }
    .footer-links li {
      list-style: none;
      margin: .5rem;
    }
    .footer-links li a{
      text-decoration: none;
      color: var(--whiteText);
    }
    footer p{
      font-weight: 300;
      margin-bottom: .5rem;
    }
  }  

 @media screen and (min-width: 700px){
  nav {
    height: 12vh;
    justify-content: space-between;
  }
  .logo{
    display: inline;
    width:8rem;
    cursor: pointer;
  }
  .logo-phone{
    display: none;
  }
  .burger{
    display: none;
  }
  .nav-links {
    all: unset;
  }
  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }
  .nav-links li{
   opacity: 1;
  } 
  .nav-links li a{
    font-size: 1rem;
  }
  .nav-links li a:hover{
    color: var(--gold);
  }
  .nav-links li button:hover{
    color: var(--gold);
  }
  .card{
    flex-direction: row;
   }
   .wspolpraca-wrapper{
    flex-direction: row;
    align-items: unset;
   }
   .wspolpraca-text{
    padding: 0 2rem;
   }
   .card-wrapper img{
    margin-right: 2rem;
   }
   .wspolpraca-text hr{
    width: 20%;
   }
  
 }

 @media screen and (min-width: 1000px){
  .nav-links{
    width: 60%;
  }
  .nav-icons ul{
    gap: 1rem;
  }
   .card{
    flex-direction: row;
   }
   .card-wrapper img{
    margin-right: 2rem;
   }
}